.navbar {
    height: 130px;
    background-color: rgb(88, 89, 91);
    margin-top: 0px !important;
}

.nav-link {
    font-size: 35px;
    color: white !important;
    font-family: futura;
}
.navbar-nav > li {
    padding-left: 80px;
}

.navbar-nav {
    display:inline-block;
    margin-right: 100px;
    margin-top: 60px;
}

.navbar-brand {
    margin-top: 35px;
}

#logo {
    position:absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%,-50%);
}

/* Make the img the full size of the container div */
#logo > img {
    max-width: 100%;
    max-height: 100%;
}