<div id='container'>
  <nav class="navbar navbar-light navbar-fixed-top">
  <div class="collapse navbar-collapse" id="navbarNav">
      <!--<a class="navbar-brand" href="#"><img [src] = "LOGO" width="300" alt=""></a>-->
      <ul class="navbar-nav navbar-right">
        <li class="nav-item ">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
          </li>
      </ul>
  </div>
</nav>
  <div id='logo'>
      <img [src] = "LOGO" />
  </div>
</div>