.navbar {
    height: 130px;
    margin-top: 0px !important;
    border-bottom: 3px solid orangered;
}

.btn-link {
    font-size: 35px;
    font-family: futura;
    color: rgba(88, 89, 91, .75);
}
.navbar-nav > li {
    padding-left: 80px;
}

.navbar-nav {
    display:inline-block;
    margin-right: 100px;
    margin-top: 60px;
}

.navbar-brand {
    margin-top: 13px;
}